openapi: 3.0.1
info:
  title: PaaS
  version: 1.0.0
  description: |
    Liara PaaS "Apps & Deployments" API.

    In addition to the HTTP endpoints below, the interactive web console is exposed over WebSocket:

    ```
    wss://api.iran.liara.ir?token=<api-token>&cmd=/bin/bash&project_id=<project-id>
    ```

    Connect with a WebSocket client using the query parameters above to open a shell
    (`/bin/bash`) attached to the given project's running instance.
servers:
  - url: https://api.iran.liara.ir
tags:
  - name: Apps
    description: Projects (apps), their settings, plans and lifecycle actions
  - name: Deployments
    description: Releases, sources, build logs and rollbacks
  - name: Git-ready Settings
    description: Per-app toggles for read-only filesystem, default subdomain, zero-downtime deploys and fixed outbound IP
  - name: Logs & Metrics
    description: Runtime logs, log charts and resource metrics
  - name: Events
    description: Project activity events
  - name: Applets
    description: Sidecar applets attached to a project and their logs
security:
  - jwt: []
paths:
  /v1/projects:
    get:
      tags:
        - Apps
      operationId: listProjects
      summary: List projects
      description: >-
        Returns the authenticated user's projects. Legacy projects and
        system-managed projects are excluded.
      parameters:
        - name: isManagedWordpress
          in: query
          required: false
          description: >-
            Set to `true` to list managed WordPress apps only. Any other value
            (or omission) excludes managed WordPress apps.
          schema:
            type: string
            enum:
              - "true"
      responses:
        "200":
          description: Projects list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - projects
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags:
        - Apps
      operationId: createProject
      summary: Create a project (app)
      description: >-
        Creates a new app. `bundlePlanID` is required when `network` is
        provided. The project name becomes part of its default subdomain and
        must be unique.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - planID
              properties:
                name:
                  type: string
                  minLength: 3
                  maxLength: 50
                  pattern: "^[a-z0-9][a-z0-9-]+[a-z0-9]$"
                  description: Unique project name (lowercase letters, digits and dashes).
                  example: my-app
                planID:
                  type: string
                  description: >-
                    Plan identifier. The list of currently available plans
                    depends on the region (e.g. `g1-1`, `ir-small`,
                    `small-g2`, `express-g2`).
                  example: g1-1
                platform:
                  type: string
                  description: Deployment platform. Required unless `isOneClickApp`/`isManagedWordpress` is used.
                  enum:
                    - static
                    - docker
                    - node
                    - laravel
                    - react
                    - vue
                    - angular
                    - django
                    - php
                    - flask
                    - netcore
                    - dotnet
                    - next
                    - python
                    - go
                  example: node
                isOneClickApp:
                  type: boolean
                  default: false
                isManagedWordpress:
                  type: boolean
                network:
                  type: string
                  pattern: "^[0-9a-fA-F]{24}$"
                  description: ID of the network to attach the app to.
                  example: 5f8d0d55b54764421b7156da
                readOnlyRootFilesystem:
                  type: boolean
                bundlePlanID:
                  type: string
                  description: Required when `network` is provided.
                  enum:
                    - free
                    - basic
                    - standard
                    - pro
                  example: standard
      responses:
        "200":
          description: Project created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - projectID
                properties:
                  projectID:
                    type: string
                    description: ID of the created project.
                    example: 5f8d0d55b54764421b7156da
        "400":
          description: >-
            `bundlePlanID` not available for the `free` plan or for the
            selected plan, `g2_plan_unavailable` (a `g2` plan requires
            `network`), `g1_plan_unavailable` (a non-`g2` plan cannot be
            attached to a `network`), or `network_is_required` (the account no
            longer has access to legacy non-network projects).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Not enough balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: >-
            Forbidden — e.g. `cannot_create_free_project_in_team`,
            `plan_not_available_for_paas`, `free_plan_count`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
        "404":
          description: Network not found (invalid `network` id).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: Project name already taken.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
        "429":
          description: >-
            Too many requests — balance plus running-app costs is insufficient
            to cover one week at the new app's hourly price.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}:
    get:
      tags:
        - Apps
      operationId: getProject
      summary: Get a project
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/ProjectDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
    delete:
      tags:
        - Apps
      operationId: deleteProject
      summary: Delete a project
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project deletion started.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found (or suspended).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/projects/update-envs:
    post:
      tags:
        - Apps
      operationId: updateProjectEnvs
      summary: Update environment variables
      description: >-
        Replaces all environment variables of the app and triggers a new
        release (`ENV_UPDATE`) from the latest ready release. If the app has
        no previous release, an empty response is returned without creating
        one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - project
                - variables
              properties:
                project:
                  type: string
                  description: Project ID (name).
                  example: my-app
                variables:
                  type: array
                  maxItems: 200
                  items:
                    $ref: "#/components/schemas/Env"
      responses:
        "201":
          description: Environment variables applied.
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: success
        "400":
          description: >-
            Missing `project`, invalid `variables`, or project not found /
            frozen / suspended.
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: project doesn't exists.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /v1/projects/update-port:
    post:
      tags:
        - Apps
      operationId: updateProjectPort
      summary: Update the exposed port
      description: >-
        Creates a new `DEPLOY` release of the latest ready release with the
        given port. If the app has no previous release, an empty response is
        returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - project
                - port
              properties:
                project:
                  type: string
                  description: Project ID (name).
                  example: my-app
                port:
                  type: integer
                  example: 3000
      responses:
        "201":
          description: Port change applied.
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: success
        "400":
          description: Missing `project`, invalid `port`, or project not found / frozen / suspended.
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: port should be a number and is required.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /v1/projects/update-dns:
    post:
      tags:
        - Apps
      operationId: updateProjectDns
      summary: Set custom DNS servers
      description: Requires a bundle plan that supports custom DNS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectID
              properties:
                projectID:
                  type: string
                  description: ID of the project.
                  pattern: "^[0-9a-fA-F]{24}$"
                  example: 5f8d0d55b54764421b7156da
                dns:
                  type: array
                  maxItems: 4
                  description: Up to 4 custom DNS server IPs.
                  items:
                    type: string
                    description: IPv4 or IPv6 address.
                    example: 8.8.8.8
      responses:
        "201":
          description: DNS servers saved.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: This plan does not support setDNS.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}/resize:
    post:
      tags:
        - Apps
      operationId: resizeProject
      summary: Resize the project plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - planID
              properties:
                planID:
                  type: string
                  description: Target plan identifier (see available plans).
                  example: g1-2
      responses:
        "200":
          description: Plan change applied (or already on this plan).
        "400":
          description: >-
            Invalid plan, free-plan read-only restriction, or
            `g2_plan_unavailable`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Not enough balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Plan not available for PaaS projects (`plan_not_available_for_paas`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: The new plan does not have sufficient storage space for your disks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
  /v1/projects/{project_id}/resize-bundle-plan:
    post:
      tags:
        - Apps
      operationId: resizeProjectBundlePlan
      summary: Resize the project bundle plan
      description: >-
        Only for apps attached to a network. Downgrades are limited to once
        per day and the new plan must still fit existing disks, domains, FTP
        accounts and DNS settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bundlePlanID
              properties:
                bundlePlanID:
                  type: string
                  enum:
                    - free
                    - basic
                    - standard
                    - pro
                  example: pro
      responses:
        "200":
          description: Bundle plan change applied (or already on this plan).
        "400":
          description: >-
            The bundle plan is not available for the free plan or not
            available for this plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Project not found (or not attached to a network).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: >-
            Plan limits exceeded. `data.code` is one of `downgrade_limit`,
            `disk_limit`, `domain_limit`, `ftp_account_limit`, `dns_limit`,
            `read_only_limit`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}/actions/scale:
    post:
      tags:
        - Apps
      operationId: scaleProject
      summary: Scale the project
      description: >-
        Sets the number of running instances. Allowed values are `0` (stop)
        and `1` (start). Not available for free plans.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scale
              properties:
                scale:
                  type: integer
                  minimum: 0
                  maximum: 1
                  example: 1
      responses:
        "200":
          description: Scale applied.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            Free plans are no longer available (`PLAN_UPGRADE_REQUIRED`), or
            no permission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
        "404":
          description: Project not found (or frozen/suspended).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/projects/{project_id}/actions/restart:
    post:
      tags:
        - Apps
      operationId: restartProject
      summary: Restart the project
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        "200":
          description: Restart triggered.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found (or frozen / not scaled to 1 instance).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/projects/{projectID}/unfreeze:
    post:
      tags:
        - Apps
      operationId: unfreezeProject
      summary: Unfreeze a frozen project
      description: >-
        Resumes a `FROZEN` app. Requires enough account balance for the plan
        and bundle plan, or an available free-plan slot for free apps.
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Project unfrozen.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Not enough balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found (or not frozen).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: You have reached the maximum number of free projects (`free_projects_limit`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}/check-availability:
    get:
      tags:
        - Apps
      operationId: checkProjectNameAvailability
      summary: Check project name availability
      description: >-
        Returns an empty response when the name is available; responds with
        `409 Conflict` when the name is reserved or already taken.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: The project name is available.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Project exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
  /v1/projects/{projectID}/npm-audit-report:
    get:
      tags:
        - Apps
      operationId: getNpmAuditReport
      summary: Get the npm audit report
      description: >-
        Returns the latest `npm audit` JSON report produced during Node.js
        builds (requires `platformConfig.npmAudit`).
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: npm audit report.
          content:
            application/json:
              schema:
                type: object
                required:
                  - report
                properties:
                  report:
                    type: object
                    description: npm audit JSON report.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project or report not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/projects/{projectID}/read-only/enable:
    post:
      tags:
        - Git-ready Settings
      operationId: enableReadOnlyFilesystem
      summary: Enable read-only root filesystem
      description: >-
        Only for apps attached to a network. Not available for free plans or
        bundle plans without `setReadOnly`. Takes effect on the next release.
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Read-only filesystem enabled.
        "400":
          description: Read-Only Filesystem is not available for free plans.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found (or not attached to a network).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: Read-Only Filesystem is already enabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
        "412":
          description: Read-Only Filesystem is not available for this plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{projectID}/read-only/disable:
    post:
      tags:
        - Git-ready Settings
      operationId: disableReadOnlyFilesystem
      summary: Disable read-only root filesystem
      description: Takes effect on the next release.
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Read-only filesystem disabled.
        "400":
          description: Read-Only Filesystem is not available for free plans.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found (or not attached to a network).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: Read-Only Filesystem is already disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
        "412":
          description: Read-Only Filesystem is not available for this plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{projectID}/default-subdomain/enable:
    post:
      tags:
        - Git-ready Settings
      operationId: enableDefaultSubdomain
      summary: Enable the default subdomain
      description: Serves the app on `<project_id>.liara.run`.
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Default subdomain enabled.
        "400":
          description: Default subdomain has expired for this project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/projects/{projectID}/default-subdomain/disable:
    post:
      tags:
        - Git-ready Settings
      operationId: disableDefaultSubdomain
      summary: Disable the default subdomain
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Default subdomain disabled.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/projects/{projectID}/zero-downtime/enable:
    post:
      tags:
        - Git-ready Settings
      operationId: enableZeroDowntime
      summary: Enable zero-downtime deployments
      description: Requires a bundle plan that supports zero downtime.
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Zero downtime enabled.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: This plan does not support zero downtime.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{projectID}/zero-downtime/disable:
    post:
      tags:
        - Git-ready Settings
      operationId: disableZeroDowntime
      summary: Disable zero-downtime deployments
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Zero downtime disabled.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: This plan does not support zero downtime.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{projectID}/fixed-ip/enable:
    post:
      tags:
        - Git-ready Settings
      operationId: enableFixedIp
      summary: Enable a fixed outbound IP
      description: >-
        Pins the app's outbound traffic to the node's static IP. Returns the
        fixed IP.
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Fixed IP enabled.
          content:
            application/json:
              schema:
                type: object
                required:
                  - IP
                properties:
                  IP:
                    type: string
                    description: The static outbound IP address.
                    example: 91.99.10.10
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: Fixed IP is already enabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
  /v1/projects/{projectID}/fixed-ip/disable:
    post:
      tags:
        - Git-ready Settings
      operationId: disableFixedIp
      summary: Disable the fixed outbound IP
      parameters:
        - $ref: "#/components/parameters/ProjectMongoId"
      responses:
        "200":
          description: Fixed IP disabled.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: Fixed IP is already disabled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
  /v1/projects/{project_id}/releases:
    get:
      tags:
        - Deployments
      operationId: listProjectReleases
      summary: List project releases
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: page
          in: query
          required: false
          description: 1-based page number (default `1`).
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: count
          in: query
          required: false
          description: Page size, 1-20 (default `10`).
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
            example: 10
        - name: sort
          in: query
          required: false
          description: Sort by creation order (default `DESC`).
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
        - name: state
          in: query
          required: false
          description: >-
            Filter to pending releases only. Any value other than `PENDING`
            is ignored.
          schema:
            type: string
            enum:
              - PENDING
      responses:
        "200":
          description: Paginated releases.
          content:
            application/json:
              schema:
                type: object
                required:
                  - total
                  - readyReleasesCount
                  - releases
                  - platform
                properties:
                  total:
                    type: integer
                    description: Total number of releases of the project.
                    example: 12
                  currentRelease:
                    type: string
                    nullable: true
                    description: ID of the current (latest ready) release, or `null`.
                    example: 5f8d0d55b54764421b7156da
                  readyReleasesCount:
                    type: integer
                    description: Number of releases in the `READY` state.
                    example: 8
                  releases:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReleaseListItem"
                  platform:
                    type: string
                    description: Project platform type.
                    example: node
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
    post:
      tags:
        - Deployments
      operationId: createProjectReleaseLegacy
      summary: Deploy a release (legacy)
      deprecated: true
      description: >-
        Deprecated v1 deploy endpoint. It no longer deploys; it opens a
        Server-Sent Events stream that prints a CLI upgrade notice and ends
        with a `FAILED` state. Use `POST /v2/projects/{project_id}/releases`
        instead.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: >-
            `text/event-stream` with upgrade notice messages and a final
            `{ "state": "FAILED" }` event.
          content:
            text/event-stream:
              schema:
                type: string
                example: |-
                  data:

                  data:

                  data: {"message":"\u001b[5mNOTICE:\u001b[0m"}
                  data: {"message":"Please upgrade your CLI to the latest version via:"}
                  data: {"message":"npm install -g @liara/cli"}
                  data: {"state":"FAILED"}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /v1/projects/{project_id}/releases/current:
    get:
      tags:
        - Deployments
      operationId: getCurrentRelease
      summary: Get the current release
      description: >-
        Returns the latest `READY` release, or `null` when the project has no
        deployed release yet.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Current release.
          content:
            application/json:
              schema:
                type: object
                required:
                  - currentRelease
                properties:
                  currentRelease:
                    nullable: true
                    allOf:
                      - $ref: "#/components/schemas/CurrentRelease"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/releases/{releaseID}:
    get:
      tags:
        - Deployments
      operationId: getReleaseById
      summary: Get a release by ID
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
      responses:
        "200":
          description: Release details.
          content:
            application/json:
              schema:
                type: object
                required:
                  - release
                properties:
                  release:
                    $ref: "#/components/schemas/ReleaseStatus"
                  queue:
                    type: integer
                    description: >-
                      Number of pending `DEPLOY` releases queued before this
                      one. Present only while the release is `PENDING`.
                    example: 2
                  platformConfig:
                    type: object
                    description: Effective platform configuration of the release.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Release not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/releases/{releaseID}/rollback:
    post:
      tags:
        - Deployments
      operationId: rollbackRelease
      summary: Roll back to a release
      description: >-
        Creates a `ROLLBACK` release that restores the given release. The
        release must be `READY`, of type `DEPLOY`, `ENV_UPDATE` or
        `AUTO_ROLLBACK`, at most 6 months old, and must not be the current
        release. The project must be `ACTIVE` and its plan must support
        rollback.
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
      responses:
        "200":
          description: Rollback release created and queued for deployment.
        "400":
          description: The release is not rollbackable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: The project must be active.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
        "404":
          description: Release not found (or older than 6 months).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: You can not rollback to the current active release.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
        "412":
          description: The project does not support rollback (`rollback_not_supported`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/projects/{project_id}/releases:
    post:
      tags:
        - Deployments
      operationId: createProjectRelease
      summary: Deploy a release
      description: >-
        Creates a `DEPLOY` release for the project and triggers a build and
        deployment. Exactly one of `sourceID` (a source uploaded via
        `POST /v2/projects/{project_id}/sources`) or `image` (a Docker image)
        must be provided, unless the request comes from a connected Git
        repository integration. Balance is charged later via a background
        job, not synchronously on this call. The response returns the
        created release ID.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReleaseInput"
      responses:
        "201":
          description: Release created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - releaseID
                properties:
                  releaseID:
                    type: string
                    description: ID of the created release.
                    example: 5f8d0d55b54764421b7156da
        "400":
          description: >-
            Validation error; missing or ambiguous `sourceID`/`image`
            (`Please only use one of the sourceID or image fields`); the
            project is frozen (`frozen_project`); `type` is `wordpress` on a
            non-WordPress project (no longer supported); `mountPoint` used on
            a project without legacy volume support; `mountPoint` and `disks`
            used together; a disk in `disks` mounted on `/`, or (for
            `type: docker`) on a non-absolute path; a named disk in `disks`
            does not exist on the project; or, when `image` is set, the image
            could not be found/inspected, comes from an untrusted public
            registry, or declares `VOLUME` paths not covered by `disks`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: No permission to deploy this project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
        "404":
          description: >-
            Project not found (`project_not_found`), or, for
            repository-integration clients, the connected repository was not
            found (`repository_not_found`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: >-
            `data.code` is `max_deployment_count_in_day` (daily deploy limit
            for the bundle plan reached) or `germany_builder_not_allowed`
            (the bundle plan does not allow building in Germany).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/projects/{project_id}/sources:
    post:
      tags:
        - Deployments
      operationId: uploadSource
      summary: Upload app source code
      description: >-
        Uploads a `.tar.gz` (gzip) or `.zip` archive as multipart/form-data
        and returns a `sourceID` to reference in
        `POST /v2/projects/{project_id}/releases`. The maximum size depends
        on the project's bundle plan.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Source archive (gzip or zip).
      responses:
        "200":
          description: Source uploaded.
          content:
            application/json:
              schema:
                type: object
                required:
                  - sourceID
                properties:
                  sourceID:
                    type: string
                    description: >-
                      A UUID with the uploaded archive's file extension
                      appended (`.tar.gz` for gzip, `.zip` for zip).
                    example: 0d8ce1e6-7cb3-4b8f-9f6a-1a2b3c4d5e6f.tar.gz
        "400":
          description: >-
            Not multipart/form-data, invalid file type (allowed types are
            gzip and zip), or the project is frozen (`frozen_project`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found (`project_not_found`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "413":
          description: Source file exceeds the bundle plan's maximum size.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/releases/{releaseID}/source:
    post:
      tags:
        - Deployments
      operationId: getReleaseSourceDownloadUrl
      summary: Get a presigned source download URL
      description: >-
        Returns a presigned URL (valid for 1 hour) to download the
        source archive of a release that was deployed from uploaded source.
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
      responses:
        "200":
          description: Presigned URL.
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    format: uri
                    example: https://storage.iran.liara.app/sources/5f8d0d55/0d8ce1e6.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Release not found or has no source.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v2/releases/{releaseID}/build-logs:
    get:
      tags:
        - Deployments
      operationId: getReleaseBuildLogs
      summary: Get build logs
      description: >-
        Returns up to 20 recent build log entries for the release. Use the
        `since` query parameter (ISO date) to fetch only newer entries.
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
        - name: since
          in: query
          required: false
          description: Return only log entries created after this ISO date-time.
          schema:
            type: string
            format: date-time
            example: 2026-09-17T10:00:00.000Z
      responses:
        "200":
          description: Build logs.
          content:
            application/json:
              schema:
                type: object
                required:
                  - release
                  - buildOutput
                properties:
                  release:
                    type: object
                    description: Release summary.
                    properties:
                      failReason:
                        type: string
                        nullable: true
                        description: Failure reason when the build failed.
                      state:
                        type: string
                        description: Release state.
                        example: BUILDING
                        enum:
                          - PENDING
                          - BUILDING
                          - DEPLOYING
                          - READY
                          - CANCELED
                          - FAILED
                  buildOutput:
                    type: array
                    items:
                      type: object
                      description: Build log entry.
                      properties:
                        _id:
                          type: string
                          example: 5f8d0d55b54764421b7156da
                        releaseID:
                          type: string
                          example: 5f8d0d55b54764421b7156da
                        line:
                          type: string
                          description: Build output line.
                          example: "Step 3/9 : RUN npm install"
                        createdAt:
                          type: string
                          format: date-time
                          example: 2026-09-17T10:05:00.000Z
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Release not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v2/releases/{releaseID}/cancel:
    post:
      tags:
        - Deployments
      operationId: cancelReleaseBuild
      summary: Cancel a pending build
      description: >-
        Cancels the release when it is still in the `PENDING` or `BUILDING`
        state. Otherwise the request succeeds without any change.
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
      responses:
        "200":
          description: Release canceled (or nothing to cancel).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /v1/projects/{project_id}/logs:
    get:
      tags:
        - Logs & Metrics
      operationId: getProjectLogsV1
      summary: Get application logs (v1, legacy)
      deprecated: true
      description: >-
        Legacy runtime logs endpoint for older apps. Returns the last
        100 log lines. For network-based apps it only returns an
        upgrade notice entry, so prefer `GET /v2/projects/{project_id}/logs`.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: since
          in: query
          required: false
          description: Unix timestamp; return logs newer than this time.
          schema:
            type: number
            example: 1758100000
      responses:
        "200":
          description: Log entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContainerLogEntry"
        "204":
          description: No logs yet (empty body).
        "400":
          description: The `since` parameter must be a number.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found, or the app is not running yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v2/projects/{project_id}/logs:
    get:
      tags:
        - Logs & Metrics
      operationId: getProjectLogs
      summary: Get application logs
      description: >-
        Returns the app's runtime logs. The `start` timestamp must
        be within the log retention period of the project's bundle plan and
        `end` must be greater than `start`. Only one of `appletId` or
        `releaseId` may be set.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: start
          in: query
          required: true
          description: Start of the query range as a Unix timestamp (seconds).
          schema:
            type: number
            example: 1758000000
        - name: end
          in: query
          required: false
          description: End of the query range as a Unix timestamp (defaults to now).
          schema:
            type: number
            example: 1758100000
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - backward
              - forward
            default: backward
        - name: appletId
          in: query
          required: false
          description: Filter logs of a single applet (task) only.
          schema:
            type: string
            example: abcdefg
        - name: releaseId
          in: query
          required: false
          description: Filter logs of a single release only.
          schema:
            type: string
            example: 5f8d0d55b54764421b7156da
        - name: search
          in: query
          required: false
          description: Substring filter; must be at least 3 characters and must not contain a backtick.
          schema:
            type: string
            minLength: 3
            example: ERROR
        - name: last_lines
          in: query
          required: false
          description: >-
            Set to `true` to fetch the most recent lines (overrides `start`
            and forces `backward`).
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Log streams.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LogStream"
        "204":
          description: No logs yet (empty body).
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "409":
          description: You can only specify appletId or releaseId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
        "412":
          description: >-
            `start` is older than the retention period of the plan, or `end`
            is not after `start`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Log service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/projects/{project_id}/logs/chart:
    get:
      tags:
        - Logs & Metrics
      operationId: getProjectLogsChart
      summary: Get log count chart
      description: >-
        Returns the number of log lines produced in 5-minute buckets over the
        given range, grouped per applet/release.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: start
          in: query
          required: true
          description: Start of the query range as a Unix timestamp (seconds).
          schema:
            type: number
            example: 1758000000
        - name: end
          in: query
          required: false
          description: End of the query range as a Unix timestamp (defaults to now).
          schema:
            type: number
            example: 1758100000
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - backward
              - forward
            default: backward
        - name: appletId
          in: query
          required: false
          schema:
            type: string
        - name: releaseId
          in: query
          required: false
          schema:
            type: string
            example: 5f8d0d55b54764421b7156da
        - name: last_lines
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Chart data points.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LogStream"
        "204":
          description: No logs yet (empty body).
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: Invalid `start`/`end` range for the plan's retention.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Log service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}/metrics/summary:
    get:
      tags:
        - Logs & Metrics
      operationId: getProjectMetricsSummary
      summary: Get current resource usage summary
      description: >-
        Returns the latest CPU and memory usage per applet plus disk usage
        for every disk attached to the app.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Resource usage summary.
          content:
            application/json:
              schema:
                type: object
                required:
                  - cpuUsage
                  - memoryUsage
                  - disksUsage
                properties:
                  cpuUsage:
                    type: array
                    items:
                      $ref: "#/components/schemas/MetricValue"
                  memoryUsage:
                    type: array
                    items:
                      $ref: "#/components/schemas/MetricValue"
                  disksUsage:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Disk name.
                          example: my-disk
                        size:
                          type: string
                          description: Disk size.
                          example: 1Gi
                        usage:
                          type: string
                          description: Usage percentage.
                          example: "12.5"
                        reportedAt:
                          type: number
                          description: Unix timestamp of the last report.
                          example: 1758100000
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "503":
          description: Metrics service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}/metrics/{stat}:
    get:
      tags:
        - Logs & Metrics
      operationId: getProjectMetric
      summary: Get a resource metric time series
      description: >-
        Returns metric samples for the requested statistic, per
        applet. The `since` timestamp must be within the report retention
        period of the project's bundle plan.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: stat
          in: path
          required: true
          schema:
            type: string
            enum:
              - cpu
              - memory
              - network-receive
              - network-transmit
          example: cpu
        - name: since
          in: query
          required: true
          description: Start of the query range as a Unix timestamp (seconds).
          schema:
            type: number
            example: 1758000000
      responses:
        "200":
          description: Metric series.
          content:
            application/json:
              schema:
                type: object
                required:
                  - end
                  - result
                properties:
                  end:
                    type: number
                    description: Unix timestamp of the query end (now).
                    example: 1758100000
                  result:
                    type: array
                    items:
                      $ref: "#/components/schemas/MetricSeries"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "412":
          description: >-
            The maximum allowed value for `since` is exceeded for the plan's
            retention.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Metrics service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}/events:
    get:
      tags:
        - Events
      operationId: getProjectEvents
      summary: Get project events
      description: >-
        Returns the project's recent events, up to 12 entries. Each event
        may carry a `tag` naming the
        release it belongs to. `start` defaults to 1 day ago and is clamped
        to at most 7 days back; `end` must be after `start`.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: start
          in: query
          required: false
          description: Start of the query range as a Unix timestamp (seconds).
          schema:
            type: number
            example: 1758000000
        - name: end
          in: query
          required: false
          description: End of the query range as a Unix timestamp (defaults to now).
          schema:
            type: number
            example: 1758100000
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - backward
              - forward
            default: backward
        - name: search
          in: query
          required: false
          description: Substring filter; must be at least 3 characters and must not contain a backtick.
          schema:
            type: string
            minLength: 3
            example: started
      responses:
        "200":
          description: Event entries.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProjectEvent"
        "204":
          description: No events yet (empty body).
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
        "503":
          description: Events service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/projects/{project_id}/applets:
    get:
      tags:
        - Applets
      operationId: listApplets
      summary: List project applets
      description: >-
        Lists the app's running instances, newest first.
        Empty when the app has never been deployed.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Applets list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - applets
                properties:
                  applets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Applet"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
  /v1/projects/{project_id}/applets/{appletID}/logs:
    get:
      tags:
        - Applets
      operationId: getAppletLogs
      summary: Get applet logs
      description: >-
        Returns the last 100 log lines of a single applet.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: appletID
          in: path
          required: true
          description: Applet ID, as returned by `listApplets`.
          schema:
            type: string
            example: k2f8d0d55b54764421b7156da.1.abc123
        - name: since
          in: query
          required: false
          description: Unix timestamp; return logs newer than this time.
          schema:
            type: number
            example: 1758100000
      responses:
        "200":
          description: Log entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContainerLogEntry"
        "400":
          description: The `since` parameter must be a number.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project or applet not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Liara API token passed as a Bearer JWT.
  schemas:
    Error:
      type: object
      required:
        - statusCode
        - error
        - message
      properties:
        statusCode:
          type: integer
          description: HTTP status code echoed in the body.
          example: 404
        error:
          type: string
          description: HTTP reason phrase.
          example: Not Found
        message:
          type: string
          description: Human readable error message.
          example: Project not found.
        data:
          description: 'Optional structured error details (e.g. `{ "code": "no_permission" }`).'
    ValidationError:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          properties:
            statusCode:
              type: integer
              example: 400
            error:
              type: string
              example: Bad Request
            message:
              type: string
              description: Validation error summary.
              example: '"name" is required'
    UnauthorizedError:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          properties:
            statusCode:
              type: integer
              example: 401
            error:
              type: string
              example: Unauthorized
            message:
              type: string
              example: Missing authentication
    ForbiddenError:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          properties:
            statusCode:
              type: integer
              example: 403
            error:
              type: string
              example: Forbidden
            message:
              type: string
              example: You don't have permission to access this resource.
            data:
              type: object
              properties:
                code:
                  type: string
                  description: >-
                    Machine readable code, e.g. `no_permission`,
                    `account_verification_required`, `team_not_found`.
                  example: no_permission
    NotFoundError:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          properties:
            statusCode:
              type: integer
              example: 404
            error:
              type: string
              example: Not Found
            message:
              type: string
              example: Project not found.
    ConflictError:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          properties:
            statusCode:
              type: integer
              example: 409
            error:
              type: string
              example: Conflict
            message:
              type: string
              example: Project exists.
    Env:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          example: NODE_ENV
        value:
          type: string
          example: production
    NetworkRef:
      type: object
      properties:
        _id:
          type: string
          description: Network ID (24 hex characters).
          pattern: "^[0-9a-fA-F]{24}$"
          example: 5f8d0d55b54764421b7156da
        name:
          type: string
          example: my-network
    Project:
      type: object
      properties:
        _id:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          example: 5f8d0d55b54764421b7156da
        project_id:
          type: string
          description: Unique project (app) name.
          example: my-app
        type:
          type: string
          description: Deployment platform type (e.g. `node`, `laravel`, `docker`).
          example: node
        scale:
          type: integer
          description: Number of running instances (0 = stopped, 1 = running).
          example: 1
        planID:
          type: string
          description: Project plan identifier.
          example: g1-1
        bundlePlanID:
          type: string
          description: Bundle plan identifier (`free`, `basic`, `standard`, `pro`).
          example: standard
        status:
          type: string
          description: >-
            App status, e.g. `ACTIVE`, `FROZEN`, `SUSPENDED`, `CRASH_LOOP`,
            `DEPLOYING`.
          example: ACTIVE
        network:
          $ref: "#/components/schemas/NetworkRef"
        created_at:
          type: string
          format: date-time
          example: "2020-10-19T09:24:05.442Z"
        isDeployed:
          type: boolean
          description: Whether the project has at least one ready release.
          example: true
    ProjectDetail:
      allOf:
        - $ref: "#/components/schemas/Project"
        - type: object
          properties:
            envs:
              type: array
              items:
                $ref: "#/components/schemas/Env"
            fixedIPStatus:
              type: string
              description: Fixed outbound IP status (`DISABLED`, `PENDING`, `ACTIVE`, ...).
              example: DISABLED
            defaultSubdomain:
              type: boolean
              description: Whether the `<project_id>.liara.run` default subdomain is enabled.
              example: true
            zeroDowntime:
              type: boolean
              description: Whether zero-downtime deployments are enabled.
              example: true
            readOnlyRootFilesystem:
              type: boolean
              example: true
            dns:
              type: array
              items:
                type: string
                description: Custom DNS server IP (IPv4 or IPv6).
              example:
                - 8.8.8.8
            defaultSubdomainExpired:
              type: boolean
              example: false
            keepDefaultSubdomain:
              type: boolean
              example: false
            outboundIp:
              type: string
              description: Static outbound IP, present only when fixed IP is ACTIVE.
              example: 91.99.10.10
            hourlyPrice:
              type: number
              description: Hourly price of the plan.
              example: 0.6
            bundleHourlyPrice:
              type: number
              description: Hourly price of the bundle plan.
              example: 0.2
            reservedDiskSpace:
              type: number
              description: Total disk space (GB) reserved by the project's disks.
              example: 1
    ReleaseState:
      type: string
      description: Release lifecycle state.
      enum:
        - PENDING
        - BUILDING
        - DEPLOYING
        - READY
        - CANCELED
        - FAILED
      example: READY
    ReleaseListItem:
      type: object
      description: >-
        A release entry in the project's releases list. Field values are
        omitted depending on the release type/state.
      properties:
        _id:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          example: 5f8d0d55b54764421b7156da
        buildTimeout:
          type: number
          description: Maximum build duration in seconds.
          example: 1200
        maxImageLayerSize:
          type: number
          description: Maximum image layer size in bytes.
          example: 1073741824
        buildLocation:
          type: string
          description: Build cluster location.
          example: iran
          enum:
            - iran
            - germany
        imageName:
          type: string
          description: Image name of the release.
          example: registry.iran.liara.ir/ns/5f8d0d55:ab12cd34ef56
        projectType:
          type: string
          description: Deployment platform type.
          example: node
        port:
          type: integer
          description: Exposed port.
          example: 3000
        state:
          $ref: "#/components/schemas/ReleaseState"
        type:
          type: string
          description: Release type.
          enum:
            - DEPLOY
            - ENV_UPDATE
            - ROLLBACK
            - AUTO_ROLLBACK
          example: DEPLOY
        message:
          type: string
          nullable: true
          description: Optional deploy message.
          example: initial deploy
        gitInfo:
          type: object
          nullable: true
          description: Git metadata of the deployed commit.
          properties:
            branch:
              type: string
              nullable: true
              example: main
            author:
              type: object
              properties:
                email:
                  type: string
                  nullable: true
                name:
                  type: string
                  nullable: true
            message:
              type: string
              nullable: true
            commit:
              type: string
              nullable: true
              description: Commit SHA.
              example: 8d5c7a2f
            committedAt:
              type: string
              nullable: true
            remote:
              type: string
              nullable: true
            tags:
              type: array
              items:
                type: string
                nullable: true
        client:
          type: string
          nullable: true
          description: Deploy client that created the release (e.g. CLI user agent or Git provider).
          example: liara-cli/6.0.0
        rollbackedTo:
          oneOf:
            - type: string
              description: ID of the release this release rolled back to.
            - type: object
              description: Resolved rollback target in list responses.
              properties:
                tag:
                  type: string
                  description: Release tag of the rollback target.
                  example: v3
          nullable: true
        failReason:
          type: string
          nullable: true
          description: Failure reason when the release failed.
        createdAt:
          type: string
          format: date-time
          example: 2026-09-17T09:00:00.000Z
        finishedAt:
          type: string
          format: date-time
          nullable: true
          example: 2026-09-17T09:05:00.000Z
        buildArgs:
          type: object
          description: Internal build arguments passed to the builder.
        platformConfig:
          type: object
          description: Effective platform configuration.
        disks:
          type: array
          description: Disks mounted by this release.
          items:
            type: object
            properties:
              name:
                type: string
                example: my-disk
              mountTo:
                type: string
                example: /app/data
        tag:
          type: string
          description: Sequential release tag.
          example: v4
        sourceAvailable:
          type: boolean
          description: Whether the build source archive is still available for download.
          example: true
        queue:
          type: integer
          description: >-
            Number of pending `DEPLOY` releases queued before this one.
            Present only while the release is `PENDING`.
          example: 2
    CurrentRelease:
      type: object
      description: The latest `READY` release of a project.
      properties:
        _id:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          example: 5f8d0d55b54764421b7156da
        projectType:
          type: string
          example: node
        port:
          type: integer
          example: 3000
        state:
          $ref: "#/components/schemas/ReleaseState"
        type:
          type: string
          enum:
            - DEPLOY
            - ENV_UPDATE
            - ROLLBACK
            - AUTO_ROLLBACK
          example: DEPLOY
        message:
          type: string
          nullable: true
        gitInfo:
          type: object
          nullable: true
        rollbackedTo:
          type: string
          nullable: true
        failReason:
          type: string
          nullable: true
        buildArgs:
          type: object
        createdAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
          nullable: true
    ReleaseStatus:
      type: object
      description: Release status summary as returned by `GET /v1/releases/{releaseID}`.
      properties:
        _id:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          example: 5f8d0d55b54764421b7156da
        type:
          type: string
          enum:
            - DEPLOY
            - ENV_UPDATE
            - ROLLBACK
            - AUTO_ROLLBACK
          example: DEPLOY
        state:
          $ref: "#/components/schemas/ReleaseState"
        failReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        disks:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              mountTo:
                type: string
        projectType:
          type: string
          example: node
        platformConfig:
          type: object
          description: Effective platform configuration.
    CreateReleaseInput:
      type: object
      required:
        - port
        - type
      description: >-
        Deploy request body. Exactly one of `sourceID` or `image` must be
        provided (except for repository-integration clients). `platformConfig`
        variants are applied based on `type`.
      properties:
        port:
          type: integer
          minimum: 1
          description: Port the app listens on. Ignored for platforms with a fixed default port.
          example: 3000
        sourceID:
          type: string
          description: >-
            Source archive ID returned by
            `POST /v2/projects/{project_id}/sources` (a UUID with the
            archive's file extension appended).
        image:
          type: string
          pattern: "^[\\w\\.:/_-]+$"
          description: Docker image to deploy (used when `type` is `docker`; forbidden for any other type).
          example: registry.iran.liara.ir/library/nginx:latest
        type:
          type: string
          description: >-
            Deployment platform type. `wordpress` is only valid for existing
            projects created before it was deprecated; new WordPress apps are
            created via `isManagedWordpress` on `POST /v1/projects`.
          enum:
            - static
            - docker
            - node
            - laravel
            - react
            - vue
            - angular
            - wordpress
            - django
            - php
            - flask
            - netcore
            - dotnet
            - next
            - python
            - go
          example: node
        files:
          type: array
          description: Deprecated, kept for old CLI compatibility only.
        directories:
          type: array
          description: Deprecated, kept for old CLI compatibility only.
        mountPoint:
          type: string
          minLength: 1
          description: Legacy volume mount path (cannot be combined with `disks`).
          example: /app/storage
        disks:
          type: array
          maxItems: 8
          description: Disks to mount (cannot be combined with `mountPoint`).
          items:
            type: object
            required:
              - name
              - mountTo
            properties:
              name:
                type: string
                example: my-disk
              mountTo:
                type: string
                example: /app/data
        envs:
          type: object
          description: Environment variables to set on the project.
          additionalProperties:
            type: string
          example:
            NODE_ENV: production
        args:
          type: array
          description: Command-line arguments passed to the app.
          items:
            type: string
        cron:
          type: array
          description: Cron jobs (supported platforms only).
          items:
            type: object
            properties:
              command:
                type: string
                example: php artisan schedule:run
              schedule:
                type: string
                example: "* * * * *"
        healthCheck:
          type: object
          description: Health check configuration (all durations in milliseconds).
          properties:
            command:
              type: array
              default: []
              items:
                type: string
              example:
                - CMD-SHELL
                - curl -f http://localhost:3000/health || exit 1
            interval:
              type: number
              minimum: 30
              default: 1000
            timeout:
              type: number
              minimum: 1
              maximum: 10000
              default: 1000
            retries:
              type: number
              minimum: 0
              maximum: 10
              default: 3
            startPeriod:
              type: number
              minimum: 0
              maximum: 3000
              default: 500
        message:
          type: string
          maxLength: 50
          nullable: true
          description: Optional deploy message.
          example: fix login bug
        gitInfo:
          type: object
          description: Git metadata of the deployed commit.
          properties:
            branch:
              type: string
              maxLength: 100
              nullable: true
            author:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 250
                  nullable: true
                name:
                  type: string
                  maxLength: 50
                  nullable: true
            message:
              type: string
              maxLength: 250
              nullable: true
            commit:
              type: string
              maxLength: 100
              nullable: true
            committedAt:
              type: string
              maxLength: 50
              nullable: true
            remote:
              type: string
              maxLength: 250
              nullable: true
            tags:
              type: array
              maxItems: 10
              items:
                type: string
                maxLength: 30
                nullable: true
        connectedRepository:
          type: object
          description: >-
            Repository integration payload. Only honored for
            repository-integration clients.
          required:
            - _id
          properties:
            _id:
              type: string
              pattern: "^[0-9a-fA-F]{24}$"
            token:
              type: string
            logURL:
              type: string
            sourceURL:
              type: string
            deploymentURL:
              type: string
            provider:
              type: string
              enum:
                - github
        platformConfig:
          type: object
          description: >-
            Platform-specific build configuration. The allowed fields depend
            on `type`:
            `laravel` (`timezone`, `phpVersion` `7.2`-`8.4`, `npmMirror`,
            `routeCache`, `configCache`, `buildAssets`, `ssr`,
            `modifyImagickPolicy`, `installDevDependencies`, `composerMirror`,
            `reverb`, `reverbPath`, `modifyHtaccess`),
            `node` (`version` `latest|8|10|11|12|14|16|18|20|22|24`,
            `npmAudit`, `timezone`, `mirror`),
            `netcore`/`dotnet` (`version` `2.1`-`10.0`, `timezone`,
            `finalDllName`, `csprojectFile`),
            `django` (`mirror`, `timezone`, `settingsFile`, `modifySettings`,
            `collectStatic`, `compileMessages`, `geospatial`, `pipTimeout`,
            `pythonVersion` `3.7`-`3.13`, `nodeVersion` `14|16|18|20`),
            `flask` (`mirror`, `appModule`, `timezone`, `pythonVersion`
            `3.7`-`3.13`, `nodeVersion` `14|16|18|20`),
            `react`/`angular` (`mirror`, `sourceMap`),
            `next` (`mirror`, `modifyConfig`, `nodeVersion` `20|22|24`),
            `vue` (`mirror`),
            `php` (`timezone`, `version` `7.2`-`8.4`, `composerMirror`),
            `python` (`version` `3.8`-`3.13`, `mirror`, `timezone`),
            `go` (`version` `1.21`-`1.25`, `cgoEnabled`, `mainFile`,
            `timezone`).
          properties:
            version:
              type: string
              description: Runtime version (semantics depend on `type`).
              example: "20"
            timezone:
              type: string
              example: Asia/Tehran
            mirror:
              type: boolean
              description: Use package manager mirrors.
            npmAudit:
              type: boolean
              description: Run `npm audit` during Node.js builds.
        build:
          type: object
          description: Build options.
          properties:
            args:
              type: object
              description: Build-time variables.
              additionalProperties:
                type: string
            cache:
              type: boolean
              default: true
            location:
              type: string
              description: Build cluster location.
              enum:
                - iran
                - germany
              example: iran
            dockerfile:
              type: string
              default: Dockerfile
              description: Path to the Dockerfile for `docker` builds.
    ContainerLogEntry:
      type: object
      description: A single log line (v1 logs and applet logs).
      properties:
        type:
          type: string
          description: Stream type.
          example: stdout
          enum:
            - stdout
            - stderr
        datetime:
          type: string
          description: Log timestamp as emitted by the app.
          example: 2026-09-17T10:00:00.1234567Z
        message:
          type: string
          example: Server is running on port 3000
    LogStream:
      type: object
      description: >-
        A group of log entries sharing the same applet/release
        metadata.
      properties:
        metaData:
          type: object
          properties:
            appletId:
              type: string
              nullable: true
              example: k2f8d0d55.1.abc
            releaseId:
              type: string
              nullable: true
              example: 5f8d0d55b54764421b7156da
        values:
          type: array
          description: >-
            Values as `[<unix timestamp in ns>, <log line>]` pairs (for
            charts, the line is the count).
          items:
            type: array
            items:
              type: string
            example: ["1758100000000000000", "Server is running on port 3000"]
    MetricValue:
      type: object
      description: Instant metric value per applet (metrics summary).
      properties:
        type:
          type: string
          description: Result type of this metric series (`vector` = single point per series).
          example: vector
        value:
          type: array
          description: '`[<unix timestamp>, <value>]` pair.'
          items:
            type: string
          example: ["1758100000", "0.02"]
        applet:
          type: string
          nullable: true
          description: Applet name the value belongs to.
          example: 1.k2f8d0d55
    MetricSeries:
      type: object
      description: A metric time series per applet.
      properties:
        type:
          type: string
          description: Result type of this metric series (`matrix` = time series per series).
          example: matrix
        values:
          type: array
          description: Array of `[<unix timestamp>, <value>]` pairs.
          items:
            type: array
            items:
              type: string
            example: ["1758100000", "0.02"]
        applet:
          type: string
          nullable: true
          description: Applet name the series belongs to.
          example: 1.k2f8d0d55
    ProjectEvent:
      type: object
      description: >-
        An event in the project's activity timeline. Properties reflect
        the underlying event payload.
      properties:
        status:
          type: string
          description: Event status (e.g. `start`, `die`, `health_status`).
          example: start
        action:
          type: string
          nullable: true
          example: start
        id:
          type: string
          description: Instance ID.
          example: 9b1deb4d3b7d4bad9bdd2b0b7b589fba
        from:
          type: string
          description: Image running in this instance.
          example: registry.iran.liara.ir/ns/5f8d0d55:ab12cd34ef56
        release:
          type: string
          nullable: true
          description: Release ID the event belongs to.
        tag:
          type: string
          nullable: true
          description: Release tag (e.g. `v3`) resolved from `release`.
        timestamp:
          type: string
          nullable: true
          description: Event time.
    Applet:
      type: object
      description: A running instance of the project.
      properties:
        id:
          type: string
          description: Instance ID.
          example: k2f8d0d55b54764421b7156da
        name:
          type: string
          description: Applet name in `<slot>.<task-id>` form.
          example: 1.k2f8d0d55b54764421b7156da
        timestamp:
          type: string
          format: date-time
          description: Time of the last state change.
          example: 2026-09-17T09:00:00.000Z
        state:
          type: string
          description: >-
            Normalized applet state (`running`, `pending`, `shutdown`,
            `failed`, ...).
          example: running
          enum:
            - running
            - pending
            - shutdown
            - failed
        reason:
          type: string
          nullable: true
          description: Human readable failure reason (Persian), when the applet failed.
        release:
          nullable: true
          allOf:
            - type: object
              properties:
                releaseID:
                  type: string
                  example: 5f8d0d55b54764421b7156da
                tag:
                  type: string
                  description: Sequential release tag.
                  example: v3
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: Project ID (name).
      schema:
        type: string
        minLength: 3
        maxLength: 50
        pattern: "^[a-z0-9][a-z0-9-]+[a-z0-9]$"
        example: my-app
    ProjectMongoId:
      name: projectID
      in: path
      required: true
      description: Project's internal ID (not the project name).
      schema:
        type: string
        pattern: "^[0-9a-fA-F]{24}$"
        example: 5f8d0d55b54764421b7156da
    ReleaseId:
      name: releaseID
      in: path
      required: true
      description: Release ID.
      schema:
        type: string
        pattern: "^[0-9a-fA-F]{24}$"
        example: 5f8d0d55b54764421b7156da
  responses:
    BadRequest:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationError"
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnauthorizedError"
    Forbidden:
      description: >-
        No permission (`data.code: no_permission`), unverified account
        (`data.code: account_verification_required`), or team not found
        (`data.code: team_not_found`).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ForbiddenError"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFoundError"
    Conflict:
      description: Conflict with the current state.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ConflictError"
